* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-body: #f5f5f5;
    --background-product-card: #fff;
    --background-button: #485fb9;
    --text-heading: black;
    --text-regular: #7e7e7e;
}

html {
    font-size: 16px;
    font-family: Quicksand, sans-serif;
}

body {
    background-color: var(--background-body);
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem; 
    padding: 1rem; 
}

.card {
    background-color: var(--background-product-card);
    position: relative;
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0; 
}

.image-container {
    position: relative;
}

.card-img {
    width: 100%; 
    height: auto; 
    display: block;  
    border-radius: 1.5rem 1.5rem 0 0; 
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    pointer-events: none; 
}

.message {
    position: absolute;
    top: .5rem;  
    right: .5rem; 
    background-color: rgba(255, 255, 255, 0.6);
    padding: .25rem .5rem;
    font-size: .8rem;
    font-weight: 600;
    border-radius: .5rem;
}

.photo-by {
    position: absolute;
    bottom: 10px; 
    left: 10px; 
    color: var(--text-regular);
    font-size: 0.6rem;
    opacity: .5;
}

.card-content {
    padding: 1rem;
}

h2 {
    counter-reset: var(--text-heading);
    margin-block: 1rem;
}

.product-description {
    color: var(--text-regular);
}

.price-and-options {
    background-color: var(--background-body);
    padding: 1rem;
    border-radius: 1.5rem;
    margin-top: 2rem;
}

.price {
    background-color: var(--background-product-card);
    text-align: center;
    padding-block: .75rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-regular);
}

.size-and-quantity {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 1rem; 
    margin-bottom: 1rem;
}

select {
    height: 2.5rem; 
}

.size-selection, .quantity-selection {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.size-selection label, .quantity-selection label {
    font-size: 1rem;
    color: var(--text-regular);
    margin-right: 0.5rem; 
}

.size-selection select, .quantity-selection select {
    width: 100%; 
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.color-options {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.color-options label {
    margin-right: 0.5rem;
    font-size: 1rem;
}

.circle {
    background-color: var(--circle-color);

    width: 1.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    border: 2px solid transparent;
}

.red {
    --circle-color: #da4841;
}

.blue {
    --circle-color: #1f55af;
}

.black {
    --circle-color: black;
}

.green-black {
    --circle-color: black;
    background: linear-gradient(to right, #989737 0%, #989737 50%, black 50%, black 100%);
}

.blue-black {
    --circle-color: black;
    background: linear-gradient(to right, #578bd8 0%, #578bd8 50%, black 50%, black 100%);
}

.pink-black {
    --circle-color: black;
    background: linear-gradient(to right, #d4668e 0%, #d4668e 50%, black 50%, black 100%);
}

.red-white {
    --circle-color: #ce3329;
    background: linear-gradient(to right, #ce3329 0%, #ce3329 50%, white 50%, white 100%);
}

.black-white {
    --circle-color: black;
    background: linear-gradient(to right, black 50%, white 50%);
}

.color {
    all: unset;
    position: absolute;
    top: -1000%;
}

.color:checked + label > .circle {
    outline: 2px solid var(--circle-color);
    outline-offset: 2px;
}

.add-to-cart {
    background-color: var(--background-button);
    color: white;
    font-weight: 600;
    margin-top: 1.5rem;
    padding-block: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    border: none;
}


@media screen and (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }
}